* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1C1C1C;
    /* Charcoal black */
    --secondary-color: #198754;
    /* Nature green */
    --accent1-color: #0B5ED7;
    /* River blue */
    --accent2-color: #FFC107;
    /* Adventure yellow */

    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article img {
    width: 120px;
    height: auto;
}

.hero article {
    flex-direction: row-reverse;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 20px;
    background-color: rgb(11 94 215 / 70%);
    display: flex;
    align-items: center;
}

.hero article p {
    margin: 0;
    color: #fff;
    line-height: 1.5;
}